<br>
<br>
<h2>Antendimetos em andamento/realizados</h2>
<br>

<!-- .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card card-body ">

      <div class="row">

        <div class="col-sm-12 col-xs-12">
          <form>

            <div class="row">
              <div class="col-md-4">
                <!-- <div class="form-group">

                  <input type="date" name="bday" max="2019-12-31"
                         min="2018-01-01" class="form-control">
                 </div> -->


                <!-- <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="nextDay(-1)" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                  </span>
                  <input type="date" name="bday" max="2019-12-31" min="2018-01-01" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="nextDay(+1)" ><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </span>
                </div> -->

                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="nextDay(-1)" (select)=$event>
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                      </span>
                      <input class="form-control" type="date" placeholder="yyyy-mm-dd" name="dp" >
                      <div class="input-group-append">
                        <span class="input-group-btn">
                          <button class="btn btn-secondary" type="button" (click)="nextDay(+1)">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <div class="col-md-4">

                <div class="form-group">

                  <select class="form-control"  id="modality" name="modality"  [(ngModel)]="modalitySelected"  >
                    <option *ngFor="let m of modality" [value]="m.modality" >{{m?.name}}</option>

                  </select>
                  <br>
                  modalidade: {{modalitySelected?.name}}


                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group">


                  <select class="form-control" id="patner" name="partner" [(ngModel)]="partenerSelected" >
                    <option *ngFor="let p of partner" >{{p?.name}}</option>
                  </select>
                  <br>
                  partener: {{p?.name}}
                </div>
              </div>

            </div>


          </form>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <!-- caixa da vaicinação -->

  <div class="col-lg-12"  *ngFor="let cust of customerService | filterBy: ['modality']: modalitySelected | filterBy: ['partner.name']: partenerSelected">
    <div class="card border border-secondary">
      <div class="d-flex flex-row"  >
        <div class="p-10 col-sm-2 col-md-6 col-lg-2 bg-inverse">
          <h3 class="text-white box m-b-0">
            <div class="row">
              <div class="col-md-4" *ngIf="cust.modality == 'office'">

                <i class="fa fa-home fa-2x bg-warning round" aria-hidden="true" class="fa fa-building-o fa-lg bg-warning round"[class.bg-warning]="cust.modality == 'homecare'" [class.bg-danger]="cust.modality == 'office'"></i>

               <!--  <label class="label" [class.label-primary]="detalhes.tipo == 'REGULAR'" [class.label-warning]="detalhes.tipo == 'ESPECIAL'">{{detalhes.tipo}}</label> -->
              </div>
              <div class="col-md-4 " *ngIf="cust.modality == 'homecare'">

                <i class="fa fa-home fa-2x bg-warning round" aria-hidden="true" aria-hidden="true" [class.bg-warning]="cust.modality == 'homecare'" [class.bg-danger]="cust.modality == 'office'"></i>

               <!--  <label class="label" [class.label-primary]="detalhes.tipo == 'REGULAR'" [class.label-warning]="detalhes.tipo == 'ESPECIAL'">{{detalhes.tipo}}</label> -->
              </div>
              <div class="col-md-8">
                <div class="row ">
                  <h3 class="m-b-0">Vacinação</h3>

                </div>
                <div> <h5 class="text-muted m-b-0">{{cust?.modality}}</h5></div>
                <br>
                <div class="row ">
                  <div>
                    <h4 style="color: #ffffff;">{{cust?.schedule_date | date:'dd/MM/yy'}}</h4>
                    <h3 style="color: #ffffff;">{{cust?.schedule_date | date:'shortTime'}}</h3>
                  </div>
                </div>
              </div>

            </div>
          </h3>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-10 ">
          <div class="row">
            <div class="col-lg">
              <div class="align-self-center m-l-20">
                <h3 class="m-t-10">{{cust?.requester.name}}</h3>
                <h5> pedido
                  <strong>{{cust?.ticket_voucher}}</strong>
                </h5>
                <br>
                <div *ngFor="let item of cust?.products" >

                    {{item?.quantity}} - {{item?.product_name}}


                </div>
              </div>
            </div>
            <div class="col-lg">
              <div class="align-self-center m-l-10">
                <h3 class="m-t-15">{{cust?.partner.name}}</h3>
                <h5>{{cust?.partner.partner_address}}</h5>
                <h5>{{cust?.partner.phone}}</h5>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Column -->
  <!-- /.row -->
</div>
